<%= form_with(model: @form, url: sign_in_path, method: :post) do |form| %>
  <div class="mb-3">
    <%= form.label(:name) %>
    <%= form.text_field(:name, class: 'form-control', autocomplete: 'username') %>
    <%= render(FormControlErrorsComponent.new(key: 'name', errors: @form.errors)) %>
  </div>
  <div class="mb-3">
    <%= form.label(:password) %>
    <%= form.password_field(:password, class: 'form-control', autocomplete: 'current-password') %>
    <%= render(FormControlErrorsComponent.new(key: 'password', errors: @form.errors)) %>
  </div>
  <%= render(FormBaseErrorsComponent.new(errors: @form.errors)) %>
  <div class="text-end">
    <%= form.submit('Sign In', class: 'btn btn-primary') %>
  </div>
<% end %>
