<% content_for(:title, t('.title', name: @pone.name)) %>
<% content_for(:open_graph) do %>
  <%= tag.meta(property: 'og:title', content: "#{@pone.name} is a good pone") %>
  <%= tag.meta(property: 'og:description', content: "#{@pone.name} has #{number_to_human(@pone.points_count)} good pone points") %>
  <%= tag.meta(property: 'og:type', content: 'profile') %>
  <%= tag.meta(property: 'og:url', content: pone_url(@pone)) %>
  <%= tag.meta(property: 'og:profile:username', content: @pone.name) %>
<% end %>
<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-8 mb-2">
    <%= render(PoneProfileComponent.new(pone: @pone)) %>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-4 mb-2 text-md-end mt-auto">
    <%= render(GivePointsComponent.new(pone: @pone, current_pone: current_pone)) %>
  </div>
</div>
<div class="mb-2">
  <%= render(PoneProfileNavComponent.new(pone: @pone)) %>
</div>
<div class="mb-2">
  <% case @mode %>
  <% when 'achievements' %>
    <%= render(UnlockedAchievementListComponent.new(unlocked_achievements: @pone.unlocked_achievements
      .order(created_at: :desc, id: :desc).preload(:achievement).first(25))) %>
  <% when 'activity' %>
    <%= render(BoonListComponent.new(boons: @pone.granted_boons
      .order(created_at: :desc, id: :desc).preload(:pone).first(25))) %>
  <% else %>
    <%= render(BoonListComponent.new(boons: @pone.boons
      .order(created_at: :desc, id: :desc).preload(:granted_by).first(25))) %>
  <% end %>
</div>
