<div class="row">
  <div class="col-sm-12 col-md-auto mb-2">
    <ul class="nav nav-pills flex-md-column">
      <%= nav_link('Avatar', account_avatar_path) %>
      <%= nav_link('Change Password', account_change_password_path) %>
      <%= nav_link('Linked Accounts', account_integrations_path) %>
      <li><hr></li>
      <%= nav_link('API Keys', account_api_keys_path) %>
      <%= nav_link('Webhooks', '#', class: 'disabled') %>
    </ul>
  </div>
  <div class="col">
    <%= content %>
  </div>
</div>
