<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Good Pone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <%= nav_link('Pones', pones_path) %>
        <%= nav_link('Recent', recent_points_path) %>
        <%= nav_link(@current_pone.name, @current_pone) if @current_pone %>
      </ul>
      <ul class="navbar-nav">
        <% if @current_pone.nil? %>
          <%= nav_link('Sign In', sign_in_path) %>
          <%= nav_link('Sign Up', sign_up_path) %>
        <% else %>
          <%= nav_link('API Keys', api_keys_path) %>
          <%= nav_link('Integrations', integrations_path) %>
          <%= nav_link('Change Password', change_password_path) %>
          <%= nav_link('Sign Out', sign_out_path, method: :post) %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
