  <%= form_with(model: @form, url: @url, method: :post) do |form| %>
  <div class="mb-3">
    <%= form.label(:name) %>
    <%= form.text_field(:name, class: 'form-control') %>
    <%= render(FormControlErrorsComponent.new(key: 'name', errors: @form.errors)) %>
  </div>
  <div class="mb-3">
    <%= form.label(:url, 'Webhook URL') %>
    <%= form.url_field(:url, class: 'form-control') %>
    <%= render(FormControlErrorsComponent.new(key: 'url', errors: @form.errors)) %>
  </div>
  <div class="mb-3">
    <%= form.label(:events) %>
    <%= render(WebhookEventsSelectComponent.new(webhook: @form)) %>
    <%= render(FormControlErrorsComponent.new(key: 'events', errors: @form.errors)) %>
  </div>
  <%= render(FormBaseErrorsComponent.new(errors: @form.errors)) %>
  <div class="text-end">
    <%= form.submit('Create Webhook', class: 'btn btn-primary') %>
  </div>
<% end %>
