<%= form_with(model: @form, url: pone_points_path(@pone), method: :post, id: 'create_point_form') do |form| %>
  <div class="mb-3">
    <%= form.label(:count) %>
    <%= form.select(:count, points_options, { selected: 1 }, class: 'form-select') %>
    <%= render(FormControlErrorsComponent.new(key: 'count', errors: @form.errors)) %>
  </div>
  <div class="mb-3">
    <%= form.label(:message) %>
    <%= form.text_area(:message, class: 'form-control', placeholder: "Tell them how they've been such a good pone~!") %>
    <%= render(FormControlErrorsComponent.new(key: 'message', errors: @form.errors)) %>
  </div>
  <%= render(FormBaseErrorsComponent.new(errors: @form.errors)) %>
  <div class="text-end">
    <%= link_to('Nevermind', @pone, class: 'btn btn-secondary float-start') %>
    <%= form.submit('Give Points!', class: 'btn btn-success') %>
  </div>
<% end %>
