<% if Pundit.policy(@current_pone, @pone).give_points? %>
  <% if giftable_points_count.positive? || @current_pone.bonus_points.positive? %>
    <%= link_to('Give Points!', give_pone_points_path(@pone),
                class: 'btn btn-success', data: { 'bs-toggle' => 'modal', 'bs-target' => '#give_points_modal' }) %>
  <% end %>
  <div class="text-muted">
    You have <%= number_to_human(giftable_points_count) %> <%= 'point'.pluralize(giftable_points_count) %>
    <% if @current_pone.bonus_points.positive? %>
      and <span class="text-info"><%= number_to_human(@current_pone.bonus_points) %> bonus <%= 'point'.pluralize(@current_pone.bonus_points) %></span>
    <% end %>
    left to give today.
    <% if giftable_points_count.zero? && @current_pone.daily_giftable_points_count.positive? %>
      <i class="d-block">
        You'll receive <%= number_to_human(@current_pone.daily_giftable_points_count) %> more
        <%= 'point'.pluralize(@current_pone.daily_giftable_points_count) %>
        in
        <%= time_ago_in_words(Date.current.tomorrow.beginning_of_day) %>.
      </i>
    <% end %>
  </div>
<% end %>
<% if @current_pone.unverified? %>
  <span class="text-muted">You must be verified to give good pone points.</span>
<% end %>

<div class="modal fade text-start" id="give_points_modal" tabindex="-1" aria-labelledby="give_points_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="give_points_modal_title">Give <%= @pone.name %> good pone points</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render(CreatePointFormComponent.new(pone: @pone, form: CreatePointForm.new, current_pone: @current_pone)) %>
      </div>
    </div>
  </div>
</div>
