<% content_for(:title, t('.title', name: @webhook.name)) %>
<%= render(AccountPanelComponent.new) do %>
  <h1><%= @webhook.name %></h1>
  <hr>
  <h2>Details</h2>
  <div class="mb-3">
    <%= label_tag(:url, 'Webhook URL') %>
    <%= text_field_tag(:url, @webhook.url, class: 'form-control', readonly: true) %>
  </div>
  <div class="mb-3">
    <%= label_tag(:events) %>
    <div class="row">
      <% @webhook.supported_events.each do |event| %>
        <div class="col-4">
          <div class="form-check">
            <%= check_box_tag('create_webhook_form[events][]', event, {}, id: event, class: 'form-check-input', disabled: true) %>
            <%= label_tag(event, Webhook.name_for_event(event), class: 'form-check-label') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <h2>Signing Key</h2>
  <div class="mb-3">
    <% if flash[:show_signing_key] %>
      <div class="alert alert-warning mb-1" role="alert">
        <strong>Heads up!</strong>
        Copy and save your webhook signing key now, as you won't be able to view it after leaving this page.
      </div>
    <% end %>
    <%= label_tag(:signing_key, 'Signing Key') %>
    <%= text_field_tag(:signing_key, flash[:show_signing_key] ? @webhook.signing_key : ('*' * 80), class: 'form-control', readonly: true) %>
    <div class="text-muted small mb-2">
      If you've lost your webhook signing key, you can generate a new one now.
      Doing so will invalidate the existing key.
    </div>
    <div class="text-end">
      <%= button_to('Regenerate Signing Key', regenerate_account_webhook_path(@webhook), class: 'btn btn-danger', method: :post) %>
    </div>
  </div>
  <hr>
  <div class="text-end">
    <%= button_to('Delete Webhook', account_webhook_path(@webhook), class: 'btn btn-danger', method: :delete) %>
  </div>
<% end %>
