<%= render(AccountPanelComponent.new) do %>
  <%= form_with(model: @form, url: account_avatar_path, method: :patch) do |form| %>
    <% if @form.pone.avatar.representable? %>
      <div class="text-center mb-3">
        <%= image_tag(@form.pone.avatar, id: 'account_avatar_form_preview', class: 'img-fluid img-thumbnail', alt: current_pone.name, size: '300x300') %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.label(:avatar, class: 'form-label') %>
      <%= form.file_field(:avatar, class: 'form-control') %>
      <%= render(FormControlErrorsComponent.new(key: 'avatar', errors: @form.errors)) %>
    </div>
    <div class="text-end">
      <% if @form.pone.avatar.attached? %>
        <%= link_to('Remove Current Avatar', account_avatar_remove_path, class: 'btn btn-outline-danger float-start', method: :post) %>
      <% end %>
      <%= form.submit('Upload Avatar', class: 'btn btn-primary') %>
    </div>
  <% end %>
<% end %>
