<% content_for(:title, t('.title', name: @group.name)) %>
<% content_for(:open_graph) do %>
  <%= tag.meta(property: 'og:title', content: "#{@group.name} is full of good pones") %>
  <%= tag.meta(property: 'og:description', content: "#{@group.name} has #{number_to_human(@group.members_count)} good #{'pone'.pluralize(@group.members_count)}") %>
  <%= tag.meta(property: 'og:url', content: group_url(@group)) %>
  <% if @group.image.attached? %>
    <%= tag.meta(property: 'og:image', content: rails_blob_url(@group.image)) %>
    <%= tag.meta(property: 'og:image:type', content: @group.image.content_type) %>
    <%= tag.meta(property: 'og:image:height', content: @group.image.metadata[:height]) %>
    <%= tag.meta(property: 'og:image:width', content: @group.image.metadata[:width]) %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-auto">
    <%= render(GroupHeaderComponent.new(group: @group)) %>
  </div>
  <% if Pundit.policy(current_pone, @group).join? %>
    <div class="col text-end">
      <% if @group.member?(current_pone) %>
        <%= render(GroupControlsDropdownComponent.new(group: @group, current_pone: current_pone)) %>
      <% else %>
        <%= button_to('Join Group', join_group_path(@group), class: 'btn btn-primary', method: :post) %>
      <% end %>
    </div>
  <% end %>
</div>
<h2>Members</h2>
<% @group.members.each do |member| %>
  <div class="card mb-2">
    <div class="card-body">
      <%= link_to(member.name, member) %>
    </div>
  </div>
<% end %>
