<%= render(CardFrameComponent.new(title: 'Change Password')) do %>
  <%= form_with(model: @form, url: change_password_path, method: :post) do |form| %>
    <%= form.text_field(:name, value: current_pone.name, class: 'd-none', autocomplete: 'username', readonly: true) %>
    <div class="mb-3">
      <%= form.label(:old_password) %>
      <%= form.password_field(:old_password, class: 'form-control', autocomplete: 'current-password') %>
      <%= render(FormControlErrorsComponent.new(key: 'old_password', errors: @form.errors)) %>
    </div>
    <div class="mb-3">
      <%= form.label(:new_password) %>
      <%= form.password_field(:new_password, class: 'form-control', autocomplete: 'new-password') %>
      <%= render(FormControlErrorsComponent.new(key: 'new_password', errors: @form.errors)) %>
    </div>
    <div class="mb-3">
      <%= form.label(:new_password_confirmation) %>
      <%= form.password_field(:new_password_confirmation, class: 'form-control', autocomplete: 'new-password') %>
      <%= render(FormControlErrorsComponent.new(key: 'new_password_confirmation', errors: @form.errors)) %>
    </div>
    <%= render(FormBaseErrorsComponent.new(errors: @form.errors)) %>
    <div class="text-end">
      <%= form.submit('Change Password', class: 'btn btn-primary') %>
    </div>
  <% end %>
<% end %>
